<launch>
    <node name="record_odom_node" pkg="slamspoof" type="record_odom.py" output="screen"/>
        <param name="subscribe_odometry_name" value="/aft_mapped_to_init"/> 
        <param name="no_attack_trajectory" value="$(find slamspoof)/benign_traj/vlp32c_benign_1011_2.csv"/> <!-- saved trajectory file name -->

    <!-- SLAM settings -->
    <param name="scan_line" type="int" value="32" />

    <!-- if 1, do mapping 10 Hz, if 2, do mapping 5 Hz. Suggest to use 1, it will adjust frequence automaticlly -->
    <param name="mapping_skip_frame" type="int" value="1" />

    <!-- remove too closed points -->
    <param name="minimum_range" type="double" value="0.3"/>

    <!-- setting lidar topic -->
    <remap from="/velodyne_points" to="/velodyne_points"/>

    <param name="mapping_line_resolution" type="double" value="0.1"/>
    <param name="mapping_plane_resolution" type="double" value="0.2"/>
    <node pkg="aloam_velodyne" type="ascanRegistration" name="ascanRegistration" output="screen" />
    <node pkg="aloam_velodyne" type="alaserOdometry" name="alaserOdometry" output="screen" />
    <node pkg="aloam_velodyne" type="alaserMapping" name="alaserMapping" output="screen" />

    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find aloam_velodyne)/rviz_cfg/aloam_velodyne.rviz" />
    </group>

</launch>